@model StokedWebAPI7.Models.LocationModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Location</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p>Location name:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationName)
        </dd>

        <dt>
            <p>Latitude:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationLat)
        </dd>

        <dt>
            <p>Longitude:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationLong)
        </dd>

        <dt>
            <p>Description:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationDescription)
        </dd>

        <dt>
            <p>Surf location?</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSurfLocation)
        </dd>

        <dt>
            <p>SUP location?</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSUPLocation)
        </dd>

        <dt>
            <p>White water location?</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsWhiteWaterLocation)
        </dd>

        <dt>
            <p>Show on map?</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.showLocation)
        </dd>

        <dt>
            <p>Creation date:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            <p>Surf difficulty</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurfDifficulty)
        </dd>

        <dt>
            <p>SUP difficulty:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUPDifficulty)
        </dd>

        <dt>
            <p>White water difficulty:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WhiteWaterDifficulty)
        </dd>

        @*<dt>
            <p>Chosen image: (NOT DONE)</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageData)
        </dd>*@

        <dt>
            <p>Best wind speed:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BestWindSpeed)
        </dd>

        <dt>
            <p>Best wind direction:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BestWindDirection)
        </dd>

        <dt>
            <p>Best wave height:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BestWaveHeight)
        </dd>

        <dt>
            <p>Best wave direction:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BestWaveDirection)
        </dd>

        <dt>
            <p>Created by:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LocationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
